* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: black;
  background-size: 100%;
  background-position-x: center;
}

.container {
  max-width: 75%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

header {
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.nav .logo a {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.nav .nav-menu a {
  text-decoration: none;
  color: white;
  padding: 10px 5px;
  margin-left: 20px;
}

.nav .nav-menu a:hover {
  background-color: black;
  color: #8702d6;
  transition: background-color 0.4s ease-out, color 0.4s ease-out;
}

label {
  color: white;
  font-size: 25px;
  line-height: 17px;
  display: none;
}

#toggle {
  display: none;
}

.projects {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
}

.project-box {
  display: flex;
  padding-top: 60px;
}

.project-img-box {
  width: 70%;
  height: 30%;
  margin-left: 50px;
}

.project-img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-text-box {
  width: 50%;
  margin-left: 50px;
  margin-right: 50px;
}

.project-text-box h3 {
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 36px;
}

.project-text-box p {
  margin-top: 20px;
  font-weight: lighter;
  font-size: 24px;
}

.project-description {
  display: flex;
  margin-top: 60px;
  margin-bottom: 100px;
  flex-direction: column;
}

.project-description h4 {
  color: black;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.project-description p {
  color: black;
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: lighter;
  padding-right: 50%;
}

.project-block {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 60px;
  padding: 0px 80px;
}

.project-block img {
  width: 100%;
  margin-bottom: 40px;
  margin-top: 20px;
}

.low-fi {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-left: 50px;
  margin-right: 10px;
}

.low-fi img {
  width: 100%;
}

.high-fi {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-right: 50px;
  margin-left: 10px;
}

.high-fi img {
  width: 100%;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  margin-bottom: 25px;
}

.footer-text h4 {
  padding: 10px;
  font-size: 32px;
  padding-top: 50px;
}

.footer-text p {
  padding: 5px;
  font-size: 20px;
}

.fa {
  color: white;
  padding: 20px;
  font-size: 30px;
  width: 55px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-facebook {
  color: white;
}

.fa:hover {
  background-color: black;
  color: #8702d6;
  transition: background-color 0.4s ease-out, color 0.4s ease-out;
}

.fa-linkedin {
  color: white;
}

.fa-instagram {
  color: white;
}

.button {
  background-color: #ffffff;
  border: 3px solid #8702d6;
  border-radius: 50px;
  color: rgb(0, 0, 0);
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  font-weight: 800;
  display: inline-block;
  font-size: 16px;
  margin: 30px 2px;
  cursor: pointer;
}

.button:hover {
  background-color: #8702d6;
  color: white;
  transition: background-color 0.4s ease-out, color 0.4s ease-out;
}

.button:focus {
  background-color: #6d04ab;
  border-color: 6d04abd8;
  color: white;
}

@media only screen and (max-width: 1200px) {
  .project-box {
    display: block;
    padding: 0px;
  }

  .project-img-box {
    width: 100%;
    margin: 0px;
  }

  .project-text-box {
    width: 100%;
    margin: 0px;
    padding: 20px;
  }

  .project-city .project-img-box {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .project-block {
    margin: 0px;
  }

  .project-block p {
    padding: 0px;
  }
}

@media only screen and (max-width: 600px) {
  label {
    display: block;
    cursor: pointer;
  }

  .nav {
    flex-wrap: wrap;
  }

  .nav-menu {
    width: 100%;
    display: none;
    margin-top: 20px;
  }

  .nav .nav-menu a {
    display: block;
    margin: 0px;
    text-align: center;
  }

  #toggle:checked + .nav-menu {
    display: block;
  }

  .project-description {
    margin-bottom: 0px;
  }

  .project-block {
    padding: 20px;
  }

  .project-block img {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 400px) {
  .nav {
    padding: 0px;
  }
}
