* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: black;
  background-size: 100%;
  background-position-x: center;
  color: white;
}

.container {
  max-width: 75%;
  margin: 0 auto;
}

header {
  width: 100%;
}

.layer {
  border-bottom-right-radius: 100px;
  padding-top: 40px;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.nav .logo a {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.nav .nav-menu a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  margin-left: 20px;
}

.nav .nav-menu a:hover {
  background-color: black;
  color: #8702d6;
  transition: background-color 0.4s ease-out, color 0.4s ease-out;
}

.hero-box {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  padding-left: 25%;
  padding-right: 25%;
  margin-bottom: 30px;
}

.hero-box h2 {
  margin-bottom: 15px;
}

.hero-box .left-side {
  width: 50%;
}

.hero-box .left-side img {
  max-width: 100%;
  max-height: 100%;
}

.hero-box .right-side {
  width: 50%;
  padding: 20px;
  margin-right: 100px;
  margin-left: 40px;
}

.hero-box .right-side h2 {
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 2;
}

.hero-box .right-side p {
  color: white;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: lighter;
}

.projects {
  background-color: white;
  color: black;
}

.project-box {
  display: flex;
}

.project-img-box {
  width: 50%;
}

.project-img-box img {
  width: 100%;
  height: 100%;
}

.project-text-box {
  width: 50%;
  padding: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.project-text-box h3 {
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 36px;
}

.project-text-box p {
  margin-top: 20px;
  font-weight: lighter;
  font-size: 24px;
}

footer {
  color: white;
  text-align: center;
  margin-bottom: 25px;
}

.footer-text h4 {
  padding: 10px;
  font-size: 32px;
  padding-top: 50px;
}

.footer-text p {
  padding: 5px;
  font-size: 20px;
}

.fa {
  color: white;
  padding: 20px;
  font-size: 30px;
  width: 55px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-facebook {
  color: white;
}

.fa:hover {
  background-color: black;
  color: #8702d6;
  transition: background-color 0.4s ease-out, color 0.4s ease-out;
}

.fa-linkedin {
  color: white;
}

.fa-instagram {
  color: white;
}

.form-container {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  margin: 0 25%;
  color: black;
}

form input {
  font-family: 'Lato', sans-serif;
}

form textarea {
  height: 200px;
}

input[type='text'],
input[type='email'],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ceccff;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.button {
  font-family: 'Lato', sans-serif;
  background-color: #ffffff;
  border: 3px solid #8702d6;
  border-radius: 50px;
  color: rgb(0, 0, 0);
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  font-weight: 800;
  display: inline-block;
  font-size: 16px;
  margin: 30px 2px;
  cursor: pointer;
}

.button:hover {
  background-color: #8702d6;
  color: white;
  transition: background-color 0.4s ease-out, color 0.4s ease-out;
}

.button:focus {
  background-color: #6d04ab;
  border-color: #6d04ab;
  color: white;
}

@media only screen and (max-width: 600px) {
  .form-container {
    margin: 0 15%;
  }
}

@media only screen and (max-width: 400px) {
  .hero-box {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
  }

  .form-container {
    margin: 0 10%;
  }

  form textarea {
    height: 150px;
  }
}
